<section id="nosotros" >
    <div class="container text-center mt-5">
        <hr class="my-4">
        <h2 class="title-section">¿Quiénes Somos?</h2>
        <p class="lead">Aurora Software Innovations S.A.S. Es una empresa de desarrollo de software fundada por un equipo de ingenieros egresados de la Universidad Pedagógica y Tecnológica de Colombia con la misión de crear soluciones innovadoras y personalizadas que satisfagan las necesidades de nuestros clientes, empleando las mejores prácticas y tecnologías disponibles.</p>
        <hr class="min-hr">
        <p class="p-main">Descubre cómo podemos llevar tus ideas al siguiente nivel. Contacta con nosotros y explora cómo AuroraSoft puede ser tu aliado estratégico en el mundo del software.</p>
        <p class="p-sub">Tu visión, nuestra tecnología. ¡AuroraSoft te lleva allá!</p>
    </div>
</section>