<footer>
    <div class="footer-grid">
        <div class="footer-row">
            <div class="logo-area">
                <img src="assets/images/icons/logoFooter.png" alt="">
            </div>
            <div class="info-area">
                <div class="info-row">
                    <img src="assets/images/icons/mail.svg" alt="">
                    <span>contactoaurorasoft@gmail.com</span>
                </div>
                <div class="info-row">
                    <img src="assets/images/icons/phone.svg" alt="">
                    <span>+57 300 8476646</span>
                </div>
                <div class="info-row">
                    <img src="assets/images/icons/location.svg" alt="">
                    <span>Calle 7 SUR 9 102, Tunja, Colombia</span>
                </div>
            </div>
        </div>
        <div class="footer-final">
            <p>Iconos de: <a class="a-ref" href="https://lordicon.com/"> Lordicon.com</a> y <a class="a-ref" href="https://www.svgrepo.com/"> svgrepo</a></p>
            <p>&copy; 2023 Aurora Software Innovations S.A.S. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
