.navbar-toggler {
    border-color: transparent;
    color: transparent;
}

.navbar .nav-link {
    color: #f0f0f0 !important;
}

.actived {
    border-bottom: solid 1px #f0f0f0 ;
}

.navbar-toggler:active {
}
.navbar-brand img{
    width: 60px;
}

.navbar-toggler {
    border-color: transparent;
}

.navbar-transparent {
    background-color: transparent !important;
}

.navbar-blue {
    background: linear-gradient(40deg,#2801b7, #59018f);
}



@media (max-width: 600px) {
    .navbar-blue {
        background: #2801b7 !important;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    }
}
