<app-header></app-header>
<div>

<!-- Sección Principal -->
    <section id="principal">
        <div class="container">
            <h1 class="display-4">Bienvenido a AuroraSoft</h1>
            <p class="lead">Transformando Ideas en Código: Descubre el Universo del Software</p>
        </div>
    </section>
<!-- Sección Proyectos -->
    <section id="proyectos" >
        <div class="container mt-5">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="py-7 text-center aurora-card">
                            <div class="mb-3">
                                <i class="fa fa-user" aria-hidden="true"></i>

                            </div>
                            <div class="lh-1">
                                <h3 class="mb-1">Software a medida</h3>
                                <p class="card-text">Desarrollamos soluciones personalizadas para satisfacer tus necesidades.</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="py-7 text-center aurora-card">
                            <div class="mb-3">
                                <i class="fe fe-briefcase fs-2 text-success"></i>
                            </div>
                            <div class="lh-1">
                                <h3 class="mb-1">Software Empresarial</h3>
                                <p class="card-text">Potencia el crecimiento de tu empresa con nuestras soluciones empresariales.</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="py-7 text-center aurora-card">
                            <div class="mb-3">
                                <i class="fe fe-settings fs-2 text-warning"></i>
                            </div>
                            <div class="lh-1">
                                <h3 class="mb-1">Mantenimientos</h3>
                                <p class="card-text">Ofrecemos servicios de mantenimiento para garantizar el funcionamiento continuo </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 <!-- Sección Nosotros -->
    <section id="nosotros" >
        <div class="container text-center mt-5">
            <header>
                <h1 class="display-4">Quiénes Somos</h1>
                <p class="lead">Somos AuroraSoft, una empresa de desarrollo de software a medida, genérico y
                    mantenimiento
                    fundada por cuatro desarrolladores egresados de la Universidad Pedagógica y Tecnológica de Colombia,
                    sede Tunja. Nuestra misión es crear soluciones innovadoras y personalizadas que satisfagan las
                    necesidades de nuestros clientes, empleando las mejores prácticas y tecnologías disponibles.</p>
            </header>
            <hr class="my-4">
            <p>Descubre cómo podemos llevar tus ideas al siguiente nivel. Contacta con nosotros y explora cómo
                AuroraSoft
                puede ser tu aliado estratégico en el mundo del software.</p>
            <p>Tu visión, nuestra tecnología. ¡AuroraSoft te lleva allá!</p>
        </div>
    </section>
<!-- Sección Contactos -->
    <section id="contactos" >
        <div class="container mt-5">
            <h2>Contacto</h2>
            <p>Ponte en contacto con nosotros a través de los siguientes medios:</p>
            
            <!-- Formulario de contacto -->
            <form action="enviar_correo.php" method="post">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
               
                <div class="mb-3">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensaje" name="mensaje" rows="4" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </section>
</div>