<section id="proyectos" class="container mt-5">
    <h2 class="title-section">Servicios</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
                <article class="card">
                    <div class="temporary_text">
                        <img src="assets/images/icons/app.gif">
                    </div>
                    <div class="card_content">
                        <p class="card_title">Mobile</p>
                        <p class="card_subtitle">Desarrollo Móvil a la medida</p>
                        <p class="card_description">Eleva tu negocio con aplicaciones móviles personalizadas. Creamos experiencias digitales únicas que llegan directamente a tus clientes. Expertos en desarrollo móvil, diseñamos apps rápidas, seguras y atractivas. Amplía tu alcance y crece con nuestra ayuda.</p>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <article class="card">
                    <div class="temporary_text">
                        <img src="assets/images/icons/web.gif">
                    </div>
                    <div class="card_content">
                        <p class="card_title">Web</p>
                        <p class="card_subtitle">Desarrollo Web Profesional</p>
                        <p class="card_description">Resolvemos desafíos tecnológicos únicos. Creamos soluciones de software personalizado que mejoran tus operaciones. Maximiza la eficiencia. Contáctanos para construir la solución perfecta.</p>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <article class="card">
                    <div class="temporary_text">
                        <img src="assets/images/icons/key.gif">
                    </div>
                    <div class="card_content">
                        <p class="card_title">Software a la Medida</p>
                        <p class="card_subtitle">Personalización</p>
                        <p class="card_description">Consigue una presencia digital excepcional. Creamos sitios web y aplicaciones a medida que destacan en diseño y rendimiento. Convierte visitantes en clientes. Contáctanos para iniciar.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
